nav.course_sidebar

  .course
    h2 #{course.title}
    p.description
      = course.description
    p.duration
      | Duration: #{course.duration} days

  each courseModule, index in course.courseModules
    .course_module
      h2
        span.number #{index+1}.
        =courseModule.title
      p.description
        strong description:
        =  courseModule.description
      p.outcome
        strong outcome:
        |  #{courseModule.outcome}
      p.duration
        strong duration:
        |  #{courseModule.duration} days
      ul
        each exercise in courseModule.exercises
          li
            if current_exercise && current_exercise.slug == exercise.slug
              span= exercise.title
            else
              a( href=['/course', course.slug, courseModule.slug, exercise.slug].join('/') )
                =exercise.title

