-currentCourseModule = courseModule;

nav.course_sidebar

  .course
    h2 #{course.title}
    p.description
      = course.description
    p.duration
      | Duration: #{course.duration} days

  each courseModule, index in course.courseModules
    .course_module.inactive( toggle=((currentCourseModule == courseModule) ? 'true' : 'false') )
      header( ng-click="vm.toggle()" )
        h2
          span.number #{index+1}.
          =courseModule.title
        .arrow
          | &raquo;

      p.description
        strong description:
        =  courseModule.description
      p.outcome
        strong outcome:
        |  #{courseModule.outcome}
      p.duration
        strong duration:
        |  #{courseModule.duration} days
      ul.exercise_list
        each exercise in courseModule.exercises
          li
            if current_exercise && current_exercise.slug == exercise.slug
              span= exercise.title
            else
              a( href=['/course', course.slug, courseModule.slug, exercise.slug].join('/') )
                =exercise.title
            if exercise.github
              | &nbsp;
              a.code( href="https://github.com/forwardadvance/#{exercise.github}" rel="external" target="_blank" )
                | (code)

      if courseModule.github
        .module_resources
          h3 Resources & Downloads
          ul
            li
              a( href='https://github.com/forwardadvance/' + courseModule.github rel="external" target="_blank" )
                | Github repository (exercise start points and solutions)
            li
              a( href='https://github.com/forwardadvance/' +courseModule.github + '/archive/master.zip' rel="external" )
                | Download repository as a zip
            li
              a( href='github-mac://openRepo/https://github.com/forwardadvance/' + courseModule.github rel="external" )
                | Clone repository in Github app

